<section class="pagos">
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Ingreso</th>
                    <th scope="col">Egreso</th>
                    <th scope="col">Cantidad Restante</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>

                </tr>
                <tr>
                    <th scope="row">2</th>
                </tr>
                <tr>
                    <th scope="row">3</th>
                </tr>
            </tbody>
        </table>
    </div>
</section>